
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* utility class */

.bg_blue {
  background-color: #0f72c2;
}


.bg_green_blue {
  background-color: #0fc2a7;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

.text_l {
  text-align: left;
}

.text_white {
  color: white;
}

.right {
  float: right;
}

.border_none {
border: none;
}

.border_radius_none {
  border-radius: none;
}

.padd_n {
  padding: none;
}

.p_top_15 {
  padding-top: 15px;
}
/* /utility class */


/* header */

#header_bottom {
  padding-top : 40px;
  padding-bottom: 90px;
}

/* navbar */
.navbar {
  border-radius: 0;
}


.navbar a{
  color: white;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}
/* /navbar */

.header_icon {
  margin: 40px 0;
  vertical-align: middle;
}

.header_icon::after, .header_icon::before {

}


/* /header */





/* main */

/* portfolio */

#portfolio {
  padding: 50px 0;
}

.portfolio_box {
  margin: 5px 0;
}

/* /portfolio */



/* about */
#about {
padding: 50px 0;
}

/* /about */


/* contact */

#contact {
  padding: 50px 0;
}

.form-control{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
/* /contact */
/* /main */



/* footer */

/* footer top */
  .footer_box {
    padding: 30px 20px;
  }

  .footer_box a {
    color: red;
  }
  /* /footer top */


/* footer_bottom */
#footer_bottom {
  padding: 20px 20px;
}
  /* /footer_bottom */
/* footer */
