
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* utility class */

.bg_blue {
  background-color: #0f72c2;
}


.bg_green_blue {
  background-color: #0fc2a7;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

.text_l {
  text-align: left;
}

.text_white {
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.border_none {
border: none;
}

.border_radius_none {
  border-radius: none;
}

.padd_n {
  padding: none;
}

.p_top_15 {
  padding-top: 15px;
}

.p_top_bottom_50 {
  padding: 50px 0;
}
.margin_t_b {
  margin: 50px 0;
}
/* /utility class */


/* header */

#header_bottom {
  padding-top : 40px;

}

/* navbar */
.navbar {
  border-radius: 0;
}


.navbar a{
  color: white;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand {
  font-weight: 600;
}

.nav li {
  font-weight: 500;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}
/* /navbar */

/* .header_icon {
  margin: 40px 0;
  vertical-align: middle;
}

.header_icon::after, .header_icon::before {

} */



.jumbotron{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
}

.jumbo_img{
  height: 250px
}

.jumbotron> h1{
  font-size:2.5em;
  font-weight: 600;
}

.jumbotron> h1,p, .header_icon{
  color: white;
}


.jumbotron p {
  font-weight: 400;
}

.line {
    text-align: center;
    margin: 30px 0;
  }

.outer-line_white {
    width: 15%;
    border-bottom: 3px solid white;
    margin: 10px;
  }


.line span {
    display: inline-block;
    vertical-align: middle;
  }

.line i {
  color: white;
  font-size: 1.2em;
}

/* /header */





/* main */

/* portfolio */




/* /portfolio */



/* about */


/* /about */


/* contact */

.form-control{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
/* /contact */
/* /main */



/* footer */

/* footer top */
  .footer_box {
    padding: 30px 20px;
  }

  .footer_box a {
    color: red;
  }
  /* /footer top */


/* footer_bottom */
#footer_bottom {
  padding: 20px 20px;
}
  /* /footer_bottom */
/* footer */
