body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 2.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

/* utility class */
.bg_blue {
  background-color: #2C3E50;
}

.bg_green_blue {
  background-color: #0fc2a7;
}

.text_c {
  text-align: center;
}

.text_r {
  text-align: right;
}

.text_l {
  text-align: left;
}

.text_white {
  color: white;
}

.text_black {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.border_none {
  border: none;
}

.border_radius_none {
  border-radius: none;
}

.padd_n {
  padding: none;
}

.p_20 {
  padding: 20px;
}

.p_top_15 {
  padding-top: 15px;
}

.p_top_50 {
  padding-top: 50px;
}

.p_top_bottom_50 {
  padding: 50px 0;
}

.p_top_bottom_30 {
  padding: 30px 0;
}

.p_left_right_70 {
padding: 0 70px;
}

.margin_t_b {
  margin: 50px 0;
}
.margin_r_5 {
  margin-right: 5px;
}

/* /utility class */
/* header */
#header_bottom {
  padding-top: 40px;
}

/* navbar */
.navbar {
  border-radius: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand {
  font-weight: 600;
}


.nav li {
  font-weight: 500;
}

.navbar-inverse .navbar-toggle {
  border-color: white;
}

/* /navbar */
/* .header_icon {
  margin: 40px 0;
  vertical-align: middle;
}

.header_icon::after, .header_icon::before {

} */
.jumbotron {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
}

.jumbo_img {
  height: 250px
}

.jumbotron>h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.jumbotron>h1, p, .header_icon {
  color: white;
}

.jumbotron p {
  font-weight: 400;
}

.line {
  text-align: center;
  margin: 30px 0;
}

.outer-line_white {
  width: 15%;
  border-bottom: 3px solid white;
  margin: 10px;
}

.line span {
  display: inline-block;
  vertical-align: middle;
}

.line i {
  font-size: 1.2em;
}

/* /header */
/* main */
/* portfolio */
.outer-line_black {
  width: 15%;
  border-bottom: 3px solid black;
  margin: 10px;
}

#portfolio img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.portfolio_card {
  border-radius: 10px;
  position: relative;
}

.portfolio .box-img {
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}


.overlay {
border-radius: 10px;
width: 100%;
height: 100%;
opacity: 0;
position: absolute;
top: 0px;;
left: 0px;
background-color: rgba(26, 188, 156, 0.8);
transition: opacity .20s;
}

.overlay i {
  font-size: 8em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio .portfolio_card:hover>.overlay {
  opacity: 1;
}

/* /portfolio */
/* about */

.btn-about {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.3em;
}

/* /about */
/* contact */
.form-control {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

/* /contact */
/* /main */
/* footer */
/* footer top */
.footer_box {
  padding: 30px 20px;
}

.footer_box a {
  color: #0fc2a7;
}

.footer_box i {
  color: white;
  font-size: 2em;
  margin: 5px 5px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
}

.footer_box i:hover {
  color: black;
  background-color: white;
}

footer ul {
  padding-left: 0;
}

footer li {
  text-decoration: none;
  list-style:none;
  display: inline-block;
}


/* /footer top */
/* footer_bottom */
#footer_bottom {
  padding: 20px 20px;
}

/* /footer_bottom */
/* footer */
